<app-header></app-header>
<button
  [routerLink]="'/base-app'"
  [routerLinkActive]="'selected'"
  [routerLinkActiveOptions]="{ exact: true }"
>
  go to base app
</button>
<button
  [routerLink]="'/category'"
  [routerLinkActive]="'selected'"
  [routerLinkActiveOptions]="{ exact: true }"
>
  go to category app
</button>
<button
  [routerLink]="'/'"
  [routerLinkActive]="'selected'"
  [routerLinkActiveOptions]="{ exact: true }"
>
  go home
</button>
<router-outlet></router-outlet>
<app-footer></app-footer>
